* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #eeeeeeb9;
}

#content {
    margin-left: 300px;
    margin-top: 20px;
}

h1 {
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: white;
    text-align: center;
}

.nav-item {
    list-style: None;
    margin: 20px 10px;

}

.navbar {
    position: fixed;
    width: 180px;
    background: white;
    height: 50px;
    margin-top: 50px;
}

.shadow {
    box-shadow: 0px 2px 5px 2px darkgrey;
}
